body,
h1 {
  margin: 0;

}

.header {

  width: 100%;

  text-align: center;
  background-color: #8FBC8F;

}

.menu-container {
  position: relative;
  left: 580px;
  display: inline-block;

  margin-bottom: 10px;
}

.menubtn {
  background-color: #F5F5F5;
  color: #000000;
  position: relative;



  border: 1px solid #808080;
  border-radius: 3px;
}

.menu-content {
  display: none;
  position: absolute;
  right: 45px;
  top: 50%;

  background-color: #F5F5F5;
  min-width: 120px;
  padding: 10px 0;

  z-index: 1;
}

.menu-container:hover .menu-content {
  display: block;
}


h2 {
  padding: 1px;
  text-align: center;
}

section {
  position: relative;
  margin-bottom: 20px;
}

.home {

  padding-left: 10px;
  width: 360px;
  height: 180px;

  position: absolute;
  left: 20px;

  background-color: #FFFF00;
}

.about {

  padding-left: 10px;
  width: 360px;
  height: 180px;

  position: absolute;
  right: 100px;
  top: 180px;

  background-color: #9ACD32;
}

.works {

  padding-left: 10px;
  width: 360px;
  height: 180px;

  position: absolute;
  left: 100px;
  top: 360px;

  background-color: #9370DB;

}

.contacts {
  >padding-left: 10px;
  width: 360px;
  height: 180px;

  position: absolute;
  right: 20px;
  top: 540px;

  background-color: #FA8072;

}